.DS_Store

launcher/build/
launcher/libtorch/

burner/.idea/
burner/lib/
burner/logs/
burner/target/
burner/project/project/
burner/project/target/

lever/.idea/
lever/lib/
lever/logs/
lever/target/
lever/project/project/
lever/project/target/

portal/
logs/
*.zip
*.pth
