<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="roller" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/pytorch-service.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{26} - %msg%n</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs\backup\pytorch-service.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 50MB -->
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 400 days' worth of history -->
            <maxHistory>400</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="roller" />
    </root>

</configuration>